<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>testWeb</display-name>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>testWeb.servlet.UserLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>FindPasswordServlet</servlet-name>
  	<servlet-class>testWeb.servlet.FindPasswordServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>addRecordServlet</servlet-name>
    <servlet-class>testWeb.servlet.RecordAddServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deleteRecordServlet</servlet-name>
    <servlet-class>testWeb.servlet.RecordDeleteServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>searchServlet</servlet-name>
  	<servlet-class>testWeb.servlet.RobotSearchServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>historyServlet</servlet-name>
  	<servlet-class>testWeb.servlet.HistorySearchServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<servlet-class>testWeb.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<servlet-class>testWeb.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<url-pattern>/userdelete</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>searchServlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>FindPasswordServlet</servlet-name>
  	<url-pattern>/Find_password</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>historyServlet</servlet-name>
  	<url-pattern>/history</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>addRecordServlet</servlet-name>
    <url-pattern>/addRecord</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteRecordServlet</servlet-name>
    <url-pattern>/deleteRecord</url-pattern>
  </servlet-mapping>
  
</web-app>